@page
@model ProductShowcase.WebApp.Pages.TestPageModel
@{
    ViewData["Title"] = "Test Page";
}

<h1>@ViewData["Title"]</h1>
<p>This is a test Razor Page. The current time is: @Model.CurrentTime</p>
